   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    :root {
      --Green: hsl(75, 94%, 57%);
      --White: hsl(0, 0%, 100%);
      --Grey-700: hsl(0, 0%, 20%);
      --Grey-800: hsl(0, 0%, 12%);
      --Grey-900: hsl(0, 0%, 8%);
    }

    @font-face {
      font-family: 'Inter-VariableFont_slnt';
      src: url('/social-links-profile-main/assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf');
    }

    body {
      background-color: var(--Grey-900);
    }

    .conteiner {
      padding: 50px 50px 60px 50px;
      margin: 250px auto;
      height: 1200px;
      width: 700px;
      background-color: var(--Grey-800);
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
      border-radius: 3%;
    }

    img {
      height: 150px;
      width: 150px;
      margin-top: 23px;
      border-radius: 50%;
      display: flex;
      margin-bottom: 40px;
    }

    h1 {
      color: var(--White);
      font-family: 'iner', sans-serif;
      font-weight: 700;
      font-size: 30px;
    }

    span {
      margin-top: 30px;
      color: var(--Green);
      font-weight: 600;
      font-size: 20px;
      font-family: 'Inter-VariableFont_slnt', sans-serif;
    }

    p {
      margin-top: 30px;
      color: #CECECE;
      margin-bottom: 30px;
      font-family: 'inter';
      font-size: 22px;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    ul li {
      transition: 0.3s all ease-in-out;
      margin-bottom: 50px;
      list-style: none;
      padding: 27px 180px;
      font-size: 20px;
      background-color: var(--Grey-700); /* Cor inicial */
      border-radius: 12px;
      font-weight: 600;
      text-align: center;
      color: var(--White); /* Cor do texto inicial */
    }

    ul li:hover {
      transform: scale(1.1); /* Aumenta o tamanho no hover */
      background-color: var(--Green); /* Cor neon no hover */
      color: black; /* Cor do texto no hover */
    }

    .list {
      list-style: none;
      color: var(--White);
      font-family: 'inter';
      justify-content: start;
    }
 